@import "tailwindcss";

@import '@fontsource-variable/funnel-sans';

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Funnel Sans Variable', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}
